@keyframes animateCloud {
  0% {
      margin-left: -900px;
  }
  100% {
      margin-left: 100%;
  }
}

.badal-left-icon,
.badal-middle-icon,
.badal-right-1 {
  position: absolute;
  top: 143px;
  left: 567px;
  width: 285px;
  height: 227px;
  object-fit: cover;
  animation: animateCloud 35s linear infinite
}
.badal-left-icon,
.badal-right-1 {
  top: 0;
  left: 42px;
  width: 500px;
  height: 500px;
}
.badal-left-icon{
  top: -25.5%;
}
.badal-right-1 {
  left: 765px;
  width: 412px;
  height: 327px;
}

.ground-icon,
.home-tree-icon,
.layer-4-icon {
  position: absolute;
  top: 613px;
  left: 0;
  width: 1440px;
  height: 506.59px;
  object-fit: cover;
  z-index: 10000;
}
.home-tree-icon,
.layer-4-icon {
  top: 0;
  height: 1184.55px;
}
.layer-4-icon {
  top: 34.34px;
  width: 1156px;
  height: 459.52px;
  transform-style: preserve-3d;
}
.layer-1-icon,
.layer-2-icon,
.layer-3-icon {
  position: absolute;
  top: 214.65px;
  left: 0;
  width: 1365.81px;
  height: 438.35px;
  object-fit: cover;
  transform-style: preserve-3d;
}
.layer-3-icon{
  left: -5%;
}
.layer-1-icon,
.layer-2-icon {
  top: 513px;
  left: 183px;
  width: 650.26px;
  height: 301.79px;
}
.layer-1-icon {
  top: 415.34px;
  left: 0;
  width: 1413.69px;
  height: 734.1px;
}

@keyframes title-bounce{
  0% {
    transform:translateY(-2000%);
  }
  55% {
    transform:translateY(-50%);
    padding-bottom: 5px;
  }
  70% {
    transform:translateY(0%);
    padding-bottom: 7px;
  }
  80% {
    transform:translateY(-35%);
  }
  90% {
    transform:translateY(0%);
    padding-bottom: 8px;
  }
  95% {
    transform:translateY(-7%);
  }
  100% {
    transform:translateY(0);
    padding-bottom: 9px;
    opacity: 1;
  }
}
.karobar,
.local {
  position: absolute;
  top: 12.48%;
  left: calc(50% - 275px); 
  display: flex;
  align-items: flex-end;
  width: auto;
  height: 175px;
  filter: drop-shadow(13px 13px 4px rgba(0, 0, 0, 0.87));
  animation: title-bounce 3s ease-in;
  /* 
  -webkit-text-fill-color: -webkit-linear-gradient( #00a3ff , red ); 
  background: linear-gradient(180deg, #00a3ff 34.7%, red 59.27%);
  -webkit-background-clip: text;
  background-clip: text;
   text-shadow: 13px 13px 4px rgba(0, 0, 0, 0.87); 
  -webkit-text-stroke: 2px rgba(0, 7, 66, 0.753);
  font-size: 250px; */
}

.karobar {
  top: 28.73%;
  left: calc(50% - 347px);
  height: 189px;
  width: auto;
}
.rocks-icon {
  position: absolute;
  top: 782px;
  left: 0;
  width: 1440px;
  height: 376.95px;
  object-fit: cover;
}
.explore {
  position: relative;
  font-size: var(--font-size-29xl);
  font-family: var(--font-jomhuria);
  color: var(--color-saddlebrown);
  text-align: center;
  width: 229.33px;
  height: 55.13px;
  flex-shrink: 0;
  -webkit-text-stroke: 1.1px transparent;
}
.explore,
.explore-button,
.log-in {
  display: flex;
  align-items: center;
  justify-content: center;
}
.explore-button {
  cursor: pointer;
  border: 0;
  padding: 27.5634765625px 23.1533203125px;
  background-color: transparent;
  border-radius: var(--br-25xl-1);
  background: linear-gradient(180deg, #faff00, rgba(255, 92, 0, 0.83));
  box-shadow: 12px 15px 7px rgba(0, 0, 0, 0.47);
  width: 159px;
  height: 40px;
  flex-direction: row;
  box-sizing: border-box;
}
.log-in {
  position: relative;
  font-size: var(--font-size-29xl);
  font-family: var(--font-jomhuria);
  color: var(--color-saddlebrown);
  text-align: center;
  width: 194px;
  height: 60.64px;
  flex-shrink: 0;
  text-shadow: 0 4.41015625px 4.41px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1.1px transparent;
}
.login-button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-11xl) 23.1533203125px;
  background-color: transparent;
  border-radius: var(--br-25xl-1);
  background: linear-gradient(180deg, #faff00, #ff5c00);
  box-shadow: 0 12px 4.41px rgba(0, 0, 0, 0.5);
  width: 159px;
  height: 40px;
  flex-direction: row;
  box-sizing: border-box;
  color: var(--color-saddlebrown);

}
Link, .log-in, a{
  text-decoration: none;
  color: inherit;

}
.login-button,
.sign-up,
.sign-up-button {
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.sign-up {
  position: relative;
  font-size: var(--font-size-29xl);
  font-family: var(--font-jomhuria);
  color: var(--color-saddlebrown);
  text-align: center;
  width: 229.33px;
  height: 55.13px;
  flex-shrink: 0;
  text-shadow: 0 4.41015625px 4.41px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1.1px transparent;
}
.sign-up-button {
  cursor: pointer;
  border: 0;
  padding: 27.5634765625px 23.1533203125px;
  background-color: transparent;
  border-radius: var(--br-25xl-1);
  background: linear-gradient(180deg, #faff00, #ff5c00);
  box-shadow: 13px 15px 7px rgba(0, 0, 0, 0.5);
  width: 160px;
  height: 40px;
  flex-direction: row;
  box-sizing: border-box;
}
.all-buttons,
.buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 59.54px;
}
.all-buttons {
  position: absolute;
  top: 377px;
  left: 335px;
  width: 600px;
  height: 145px;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.logo-2-icon {
  position: absolute;
  top: 27px;
  left: 513px;
  width: 172px;
  height: auto;
  object-fit: cover;
}
.contact {
  top: 0;
  left: 139.33px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 98.33px;
  mix-blend-mode: hard-light;
}
.about,
.contact,
.nav-links-desktop,
.navbar-desktop {
  position: absolute;
  height: 29px;
}
.about {
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 79.33px;
  mix-blend-mode: hard-light;
}
.nav-links-desktop,
.navbar-desktop {
  top: 8px;
  left: 96px;
  width: 237.66px;
  z-index: 500;
}
.navbar-desktop {
  top: 0;
  left: -33px;
  background-color: rgba(0, 130, 36, 0.37);
  width: 1440px;
  height: 37px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--color-darkslategray-100);
  font-family: var(--font-jomhuria);
  position: fixed;
  z-index: 1;
}
.red-leaf-scroller {
  position: absolute;
  top: 34px;
  left: 1260px;
  width: 76px;
  height: 122.54px;
  object-fit: cover;
}
.home-page {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, #fdffa8 1%,  #bdff80 45% , #32434B 60%);
  width: 1440px;
  height: 1099px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-181xl);
  font-family: var(--font-jomhuria);
  transform-style: preserve-3d;
  perspective: 100px;
}
.home-page-blur{
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 1440px;
  z-index: 1000;
  background: linear-gradient(to top,  #26363d, #3c883b00 74.71%);
}
.ground-back-icon,
.left-back-tree {
  position: absolute;
  top: 635px;
  left: 6px;
  width: 1339px;
  height: 159.82px;
  object-fit: cover;
}
.left-back-tree {
  top: 0;
  left: 36px;
  height: 812.82px;
}
.ground-middle-icon,
.left-bush-icon {
  position: absolute;
  top: 497px;
  left: 55px;
  width: 332px;
  height: 253.12px;
  object-fit: cover;
}
.ground-middle-icon {
  top: 691px;
  left: 386px;
  width: 950px;
  height: 104.22px;
}
.left-main-tree,
.right-front-tree,
.right-main-tree {
  position: absolute;
  top: 0;
  left: 680px;
  width: 950px;
  height: 1541.43px;
  object-fit: cover;
}
.left-main-tree,
.right-main-tree {
  left: 786px;
  width: 534px;
  height: 776px;
}
.left-main-tree {
  top: 1px;
  left: 3px;
  width: 1364px;
  height: 828px;
}
.front-tree-leaves,
.left-half-tree {
  position: absolute;
  top: 0;
  left: 0;
  width: 542px;
  height: 849px;
  object-fit: cover;
}
.front-tree-leaves {
  top: 19px;
  left: 90px;
  width: 1231px;
  height: 490.98px;
}
.forest-about-svg-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1339px;
  height: 811px;
  overflow: hidden;
  background-image: url(/public/forestaboutsvg1@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.logo-1-icon-desktop {
  position: absolute;
  top: -4px;
  left: 537px;
  width: auto;
  height: 105px;
  object-fit: cover;
}
.a-heartwarming-space {
  position: absolute;
  top: 96px;
  left: 82px;
  display: inline-block;
  width: 565px;
  height: 408px;
  font-size: 28px;
  word-spacing: 2px;
}
.about-info-section {
  position: absolute;
  top: 101px;
  left: 100px;
  background-color: rgba(241, 245, 11, 0.2);
  width: 704px;
  height: 502px;
  overflow: hidden;
}
.email-input-desktop,
.message-box,
.name-input-desktop {
  border: 0;
  background-color: var(--color-mistyrose);
  position: absolute;
  top: 184.5px;
  left: 165.72px;
  border-radius: 50px;
  width: 301.68px;
  height: 33.22px;
  overflow: hidden;
}
.email-input-desktop,
.message-box {
  top: 230.03px;
}
.message-box {
  top: 279.67px;
  left: 81.11px;
  width: 378.4px;
  height: 241.44px;
  border-radius: 20px;
}
.contact-us,
.email-home,
.name-home,
.submit,
.submit-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.submit-home {
  position: relative;
  font-size: var(--font-size-17xl);
  font-family: var(--font-jomhuria);
  color: var(--color-saddlebrown);
  text-align: center;
  width: 125px;
  height: 30px;
  flex-shrink: 0;
  text-shadow: 0 4.41015625px 4.41px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1.1px transparent;
}
.contact-us,
.email-home,
.name-home,
.submit-button {
  cursor: pointer;
  position: absolute;
}
.submit-button {
  font-size: var(--font-size-17xl);
    font-family: var(--font-jomhuria);
    color: var(--color-saddlebrown);
  border: 0;
  padding: var(--padding-11xl) 23.1533203125px;
  background-color: transparent;
  top: 535.18px;
  left: 190.86px;
  border-radius: var(--br-25xl-1);
  background: linear-gradient(180deg, #fae73d, #ff8642);
  box-shadow: 0 12px 4.41px rgba(0, 0, 0, 0.5);
  width: 129.67px;
  height: 44.76px;
  flex-direction: row;
  box-sizing: border-box;
}
.contact-us,
.email-home,
.name-home{
  top: 230.03px;
  left: 51.93px;
  width: 124.38px;
  height: 50.45px;
}
.contact-us,
.name-home {
  top: 179.58px;
}
.contact-us {
  top: 106.98px;
  left: 140.58px;
  font-size: var(--font-size-29xl);
  width: 228.91px;
  height: 56.6px;
}
.contact-us-form {
  z-index: 1;
  position: absolute;
  top: 12px;
  left: 754px;
  width: 520px;
  height: 611px;
  background-image: url(/public/contact-us-form@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-darkorange);
}
.add-me-button {
  z-index: 1;
  cursor: pointer;
  border: 0;
  padding: var(--padding-11xl) 23.1533203125px;
  background-color: transparent;
  position: absolute;
  top: 500px;
  left: 384px;
  border-radius: var(--br-25xl-1);
  background: linear-gradient(180deg, #fae73d, #ff8642);
  box-shadow: 0 12px 4.41px rgba(0, 0, 0, 0.5);
  width: 108.97px;
  height: 30.64px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.about-middle-blur{
  position: absolute;
  top: 0;
  height: 100px;
  width: 1440px;
  z-index: 1000;
  background: linear-gradient(to bottom,  #26363d, #3c883b00 74.71%);
}
.about-and-contact {
  position: absolute;
  top: 809px;
  left: 0;
  background: linear-gradient(180deg, #32434b, #3c883b 74.71%);
  width: 1440px;
  height: 853px;
  overflow: hidden;
  text-align: left;
  font-size: 15px;
  color: #ffcf88;
  font-family: var(--font-jomhuria);
}

.left-banyan-leaf,
.left-banyan-leaf-2,
.right-banyan-leaf,
.right-leaves-icon {
  position: absolute;
  top: 804px;
  left: 0;
  width: 1339px;
  height: 812.82px;
  object-fit: cover;
}
.left-banyan-leaf-2,
.right-banyan-leaf,
.right-leaves-icon {
  top: 799px;
}
.left-banyan-leaf-2,
.right-leaves-icon {
  top: 794px;
}
.right-leaves-icon {
  top: 798px;
  height: 739.97px;
}
.ground-left-leaves,
.ground-right-leaves,
.rocks-icon1 {
  position: absolute;
  top: 1400px;
  left: 33px;
  width: 110px;
  height: 217.04px;
  object-fit: cover;
}
.ground-right-leaves,
.rocks-icon1 {
  top: 900px;
  left: 0;
  width: 1440px;
  height: 812.82px;
}
.rocks-icon1 {
  top: 1320px;
  height: 155.35px;
}
.copyright-footer-desktop {
  position: relative;
}
.footer-desktop {
  position: absolute;
  top: 1442px;
  left: 0;
  background-color: #313131;
  width: 1440px;
  height: 50px;
  display: flex;
  flex-direction: row;
  padding: 10px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  color: var(--color-white);
  font-family: var(--font-heebo);
}
.desktop-1 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 748px;
  overflow: hidden;
  -webkit-scrollbar: none;
}
