.profile {
  position: absolute;
  top: -5px;
  right: 100px;
  font-size: 16px;
  font-family: var(--font-arial);
  color: var(--color-darkgreen);
  text-align: center;
  float: right;
  display: flex;
  align-items: center;
  width: auto;
  height: 49px;
}

.navbar {
    position: fixed;
    top:0;
    background-color:rgba(243,223,77, 0.8);
    /* background-color: var(--color-gold); */
    width: 1370px;
    height: 37px;
    overflow: hidden;
    /* flex-shrink: 0; */
    z-index: 1000;
    text-align: center;
    font-size: var(--font-size-29xl);
    color: var(--color-darkolivegreen-200);
    font-family: var(--font-jomhuria);
  }

